@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,400;0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 85%;
  margin: 0 auto;
}

/* Banner Section Style */
.banner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}
.banner img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
}

.banner-greeging {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.banner-titile {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
